<configuration debug="true" scan="true" scanPeriod="5 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{RQST-ID}]-[%X{USR-ID}]-${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <appender name="JOB" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{JOB-ID}]-[%X{RQST-ID}]-${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <logger name="com.oracle.database.r2dbc" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="org.springframework.web" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="reactor" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
        <!--        <appender-ref ref="FILE"/>-->
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>
</configuration>