<configuration debug="true" scan="true" scanPeriod="5 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <jmxConfigurator/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%X{RQST-ID}]-[%X{USR-ID}]-${CONSOLE_LOG_PATTERN}</pattern>
            <charset>${CONSOLE_LOG_CHARSET}</charset>
        </encoder>
    </appender>

    <logger name="io.lettuce.core" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

    <logger name="org.springframework.data.redis.core" additivity="false">
        <level value="info"/>
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </logger>

   <!-- <logger name="org.springframework.web" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
        &lt;!&ndash;        <appender-ref ref="FILE"/>&ndash;&gt;
    </logger>-->

    <!--<logger name="org.hibernate.SQL_SLOW" additivity="false">
        <level value="debug"/>
        <appender-ref ref="SLOW_DA_FILE"/>
    </logger>-->

    <logger name="com.github.benmanes.caffeine.cache" additivity="false">
        <level value="debug"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="FILE"/>-->
    </root>
</configuration>